/*文字コードはutf-8とする*/
@charset "utf-8";
/*すべての要素について、以下の設定を適用する*/
*{
    margin: 0;  /*上下左右の外側の余白を0とする*/
    padding: 0; /*上下左右の内側の余白を0とする*/
}
/*header部に適用させるCSS*/
.header{
    height: 56px;   /*高さは56px*/
    width: 100%;    /*幅を最大まで広げる*/
    box-shadow: 0 0 10px #dddddd;   /*下に影を付ける*/
    background-color: antiquewhite; /*背景は白*/
    position: fixed;    /*固定表示*/
    top: 0; /*画面上部からの表示位置を0とする。*/
}
/*header-rightにあるaタグに関する設定*/
.header-right a {
    line-height: 56px;  /*文字を縦方向中央に表示する*/
    color: #5a5c5f; /*文字の色*/
    margin-left: 5px;   /*文字の左側の余白*/
    font-size: 16px;    /*フォントサイズ*/
    padding: 16px 5px;  /*余白の設定　上下が16px　左右が5px　の余白をとる*/
}
/*header-rightにあるaタグの上にカーソルが乗ったときの設定*/
.header-right a:hover{
    background-color: #e2f1ff;  /*背景の色*/
    transition: background-color 0.5s;  /*アニメーションが実行される時間*/
}
.container{
    max-width: 980px;   /*最大の横幅を980とする。*/
    padding: 0 30px;    /*余白の設定　上下が0px　左右が30px　の余白をとる*/
    margin-left: auto;  /*autoにすると自動。左右にautにすると中央揃えになる*/
    margin-right: auto;
}
.main-visual{
    padding-top: 140px; /*余白の設定　上から140pxの位置*/
    padding-bottom: 100px;  /*余白の設定　下から100pxの位置*/
    background-image: url;  /*背景として画像を表示*/
    background-size: cover; /*背景画像が要素をぴったりと覆うように表示される*/
    color: #f5f5f5; /*文字の色*/
    text-align: auto; /*文字の位置(センタリング)*/
}
.top-title{
    font-size: 64px;
    margin-bottom: 10px
}
.top-subtitle{
    font-size:24px;
    margin-bottom: 60px;
        
}
.top-text{
    opacity: 0.9; /*1透明度を0.9にする0-1の間で設定*/
}
.main{
    padding: 80px 0;
    color: #5a5c5f;
    text-align: center;
}
.main h2{
    margin-bottom: 25px;
}
.main-image{
    width: 450px;
    margin-bottom: 25px;
    box-shadow: 2px 2px 4px #b7b7b7; /*影の設定　横位置2px　縦位置2px　ぼかしの距離4px　色は#b7b7b7*/
    border-radius: 5px; /*角を丸くする*/
}
.footer{
    height: 120px;
    background-color: #2f3a44;
    color: #e8e8e8;
    padding-top: 20px;
}
.footer-left{
    float: left;
}
.footer-right{
    float: right;
}
.footer-left p {
    margin-bottom: 8px;
}